<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@^3"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
    <script defer type="text/javascript" src="js/constForChart.js.js"></script>
    <script defer type="text/javascript" src="js/scriptToFetchData.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script th:inline="javascript">
        var stationBtnList = [[${ stationList }]];
    </script>
    <script defer src="js/manupilateDOM.js"></script>
</head>

<body>
    <div style="padding: 20px;">
        <h2>Summary</h2>
        <div style="padding: 20px;">
            <h3>Overall Data from 2017-01-01 to 2022-02-28</h3>
        </div>
        <div style="width: 800px;padding: 20px;">
            <table class="table table-borderless">
                <tr>
                    <td>
                        <h4>Sorted by day of week</h4>
                    </td>
                    <td>
                        <h4>Sorted by station(only shows top 15)</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        Each line represents a station. y-axis shows daily average visits at day of week. Color of line
                        was randomly generated.
                        <br>*Note: If the station is a transfer station, it would show 2 lines, with same data.
                    </td>
                    <td>
                        Each bar represents a station. y-axis shows daily average visits of the station. Color of the
                        bar was assigned base on which MRT line the station locates. <br>
                        *Note: The color black means that the station is a transfer station.
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="legendForSummary"></div>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="isExcluded"
                                onclick=transferInRank()>
                            <label class="form-check-label" for="flexCheckDefault">
                                Check to exclude transfer station
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width:500px;height:250px;">
                            <canvas id="weekDayChart"></canvas>
                        </div>
                    </td>
                    <td>
                        <div style="width:500px;height:250px;">
                            <canvas id="stationRankBarChart"></canvas>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div style="padding: 20px;">
        <h2>Detailed Data</h2>
        <div style="padding: 20px;">
            <h3>Visits Daily</h3>
        </div>
        <div style="width: 800px;padding: 20px;">
            <table class="table table-borderless">
                <tr>
                    <td colspan="3">
                        <div id="checkBoxForMetroSelect" style="margin: 10px">
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-dark" onclick="submitStation()"> Submit Stations</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="start">
                            Start month:
                        </label>
                        <input type="month" id="startMonthSelector" min="2017-01" max="2022-02" value="2017-01">
                    </td>
                    <td> To </td>
                    <td>
                        <label for="start">
                            End month:
                        </label>
                        <input type="month" id="endMonthSelector" min="2017-01" max="2022-02" value="2022-02">
                    </td>
                    <td>
                        <button type="button" class="btn btn-dark" onclick="submitDateRange()"> Submit Date
                            Interval</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div style="width:1000px;height:500px;margin: 30px">
        <canvas id="dailyLineChart"></canvas>
    </div>

</body>

</html>